@charset "UTF-8";
.body{
	max-width: 900px;
    margin: auto;
    background: #f5f5f5;
    border: 1px solid #a2a2a2;
}

.header{
	background: url(http://www.picz.ge/img/s4/1906/8/4/4e39d4f55044.png);
	border-top: 8px solid #af820d;
    border-bottom: 8px solid #af820d;
	height: 200px;
	width: auto;
}

.logo{
    margin: 50px 0 0 35px;
    float: left;
}

.footer{
	width: auto;
    height: 100px;
    background: #e6e6e6;
    border-top: 1px solid #a2a2a2;
}

.footLeft{
	float: left;
	margin: 40px;
	color: #545454;
}

.footRight{
	float: right;
	margin: 40px;
    color: #545454;
}

.searchArea{
	width: auto;
	height: 50px;
	background: #3a3a3a;
}

.loginButt {
    width: 138px;
    height: 40px;
    text-decoration: none;
    background: white;
    float: left;
    overflow: hidden;
    margin: 5px;
    border-radius: 7px;
}

.loginTxt{
    text-decoration: none;
    color: black;
    float: left;
    overflow: hidden;
    margin-top: 11px;
    margin-left: 16px;
}

.searchInput{
	width: 580px;
    background: rgba(0,0,0,.3);
    border: none;
    height: 37px;
    padding: 0 5px;
    border-radius: 3px;
    color: #f9f9fa;
    font: 12px newsfont;
    box-shadow: inset 1px 2px 1px rgba(0,0,0,.15);
    float: left;
    margin-top: 7px;
    margin-left: 5px;
}